label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Lexend', sans-serif;
    font:weight 200px;
    font-size: 15px;
    background-color: var(--background);
    color: white;
  }
  textarea {
    
    width: 100%;
    border-radius: 6px; 
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    border: 1px solid var(--light-pink);
    box-shadow: 0 0 3px 0 var(--light-pink),
  inset 0 0 3px 0 var(--light-pink),
  0 0 7px 0 var(--light-pink),
  inset 0 0 3px 0 var(--light-pink),
  0 0 7px 1px var(--light-pink),
  inset 0 0 7px 1px var(--light-pink);
  }

  