@media only screen and (min-width: 768px){

}
.form-edit{
    border-radius: 6px; 
      background-color: #f0f0f0;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      /* width: 100%;     */
      border: 1px solid var(--light-pink);
      box-shadow: 0 0 3px 0 var(--light-pink),
    inset 0 0 3px 0 var(--light-pink),
    0 0 7px 0 var(--light-pink),
    inset 0 0 3px 0 var(--light-pink),

    0 0 7px 1px var(--light-pink),
    inset 0 0 7px 1px var(--light-pink);
    margin-bottom: 1rem;
}
.form{
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: var(--background); */
    
}
.set-buttons{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem; 
    
    
}
.save, .cancel{
    font-size: 16px;
    width: 5rem;
    height: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    background: transparent;
    position: relative;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
    border-radius: 25px;
    box-shadow: 0 0 5px var(--light-blue), 0 0 5px var(--light-blue) inset;
    
}
.save:hover {
    background-color: var(--light-blue);
    color:white;
  }
  .fail {
    color: #f2317f;
  }