@import '../index.css';

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;     
  display: flex;
  justify-content: flex-end;
  padding : 1rem;
}
p{
    font-family: 'Lexend', sans-serif;
    color: var(--light-pink);
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px var(--light-pink),
    0 0 80px var(--light-pink),
    0 0 90px var(--light-pink),
    0 0 100px var(--light-pink),
    0 0 150px var(--light-pink);
}