.navbar-desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 4rem; 
    margin-top: 1.5rem;
      padding: 0;
      text-align: center; 
      height: 60px;
  }
  .nameLogo{
    color:  white;
    padding: 1.90rem;
  }
  .logo{
    display: flex;
    justify-content: space-between;
    
  }
.title {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color:  var(--light-pink);
  text-shadow:
  /* 0 0 5px var(--light-pink), */
  /* 0 0 10px var(--light-pink), */
  0 0 20px var(--light-pink),
  /* 0 0 40px var(--light-pink), */
  0 0 80px var(--light-pink),
  /* 0 0 90px var(--light-pink), */
  0 0 100px var(--light-pink),
  0 0 150px var(--light-pink);

}
.title1 {
  font-size:14px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  color:  var(--light-pink);
  text-shadow:
  /* 0 0 5px var(--light-pink), */
  /* 0 0 10px var(--light-pink), */
  0 0 20px var(--light-pink),
  /* 0 0 40px var(--light-pink), */
  0 0 80px var(--light-pink),
  /* 0 0 90px var(--light-pink), */
  0 0 100px var(--light-pink),
  0 0 150px var(--light-pink);
  
}
  .piano {
    border-radius: 9%;
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;  
  box-shadow: 0 0 5px 0 var(--light-pink),
  /* 0 0 5px var(--light-pink), */
  /* 0 0 10px var(--light-pink), */
  /* 0 0 20px var(--light-pink),  */
  /* 0 0 40px var(--light-pink), */
  /* 0 0 80px var(--light-pink),  */
  0 0 90px var(--light-pink),
  /* 0 0 100px var(--light-pink), */
   0 0 150px var(--light-pink); 
  } 
  
  .toggle-icon {
  /* margin-top: 1rem; */
  display: none;
  color:  var(--light-pink);
  box-shadow: 0 0 5px 0 var(--light-pink),
  /* inset 0 0 5px 0 var(--light-pink),
  0 0 20px 0 var(--light-pink), */
  inset 0 0 10px 0 var(--light-pink),
   0 0 40px var(--light-pink),
  inset 0 0 7px 0 var(--light-pink);
  border-radius: 5px;}
  
  
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    align-content: center;
  }

  .login-out {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    align-content: center;
  
  }

  a {
    text-decoration: none;
  }
  .link li {
    color: white;
    text-decoration: none;
    padding:0.7rem;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
  }

  li {
    list-style-type:none;
  }

  .logout-button {
    display: flex;
    padding:0.7rem;
    list-style: none;
    align-content: center;
    color: white;
    font-family: 'Oswald';
    border-style: none;
    border: none;
    font-size: larger;
    background-color: var(--background-color);

    
  }

  .active {
    
    background-color: grey;
    color: var(--background-color);
    border-radius: 10px;
  }
  @media(max-width: 768px){

    .nameLogo{
      color:  white;
      padding: 1.90rem;}

    .logo{
      position: absolute;
      left: 20px;
    }
    .title {
      font-size: 16px;
    }
    .title1{
      font-size: 14px ;
    }
    
      .piano {
        border-radius: 9%;
        height: 2rem;
        width: 2rem;
        /* margin-top: 2rem;   */
      box-shadow: 0 0 5px 0 var(--light-pink),
      /* 0 0 5px var(--light-pink), */
      /* 0 0 10px var(--light-pink), */
      /* 0 0 20px var(--light-pink),  */
      /* 0 0 40px var(--light-pink), */
      /* 0 0 80px var(--light-pink),  */
      0 0 90px var(--light-pink),
      /* 0 0 100px var(--light-pink), */
       0 0 150px var(--light-pink); 
      
    }
    .links{
      top: -300px; 
      right: 0;
      width: 50%; 
      display: flex;
      justify-content: flex-end;
      opacity: 0; 
      padding: 0.5rem;
      }
    .toggle-icon {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-right: 10px;
      z-index: 2;
    }
    .navbar-expanded .logo{
      /* margin-top: -2%;  */
      padding: 0;
      text-align: center; 
      height: 1rem;
    }
      .navbar-expanded .links{
      position: absolute;
      top: 80px;
      display: flex;
      flex-direction: column;
      opacity: 1;
      background-color: #1A1515;
      border-radius: 10px;
      padding: 1rem;
      z-index: 2;
    }

  .navbar-desktop .links li .link{
    visibility: hidden;
  }
     .links{
   z-index: -2;
   }
    .navbar-expanded .links li{
      margin: 12px 0;
      font-size: 16px;
    }
    .navbar-expanded{
     
      margin: 4rem;
      margin-bottom: 5.5rem; 
      margin-top: 0rem;
      padding: 0;
      /* text-align: center;  */
      height: 60px;
  }
    
    .toggle-icon{
      display: block;
      position: absolute; 
      top: 28px;
      right: 20px;
    }
    .login-out {
      display: flex; 
      flex-direction: column;
      /* justify-content: space-between; */
    }
    .logout-button {
    color: white;
    font-family: 'Oswald';
    border-style: none;
    border: none;
    font-size: 0.9rem;
    background-color: #1A1515;
    margin: 0 ;
    padding-left: 0.7rem;
    padding-top: 0rem; 
    padding-bottom:0rem; 
    
    }

    .link li{
      padding:0.2rem 0.7rem;
    }
  
    .active {
    
      background-color: grey;
      color: var(--background-color);
      border-radius: 10px;
    }
  }
  



  

