@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Oswald&display=swap');
@import './styles/footer.css';
@import './styles/contactButton.css';
@import './styles/textborder.css';
@import './styles/piano.css';
@import './components/DayHour/dayHour.css';
@import './styles/navbarStyle.css';
@import './styles/formSignUp.css';
@import './styles/loginForm.css';
@import './styles/contactForm.css';
@import './styles/about.css';
@import './styles/tipstext.css';
@import './styles/examsText.css';
@import './styles/play.css';
@import './styles/arrow.css';


  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  :root {
      --light-pink:#F9A9FD;
      --dark-pink: #FA1E9A;
      --light-blue: #01FDFD;
      --dark-blue: rgb(71, 71, 251);
      --background: #302D2D ;
      --grey: #676060;

  }
  
  body {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    font-size: 82.5%;
    background-color: var(--background);
  }


  p {
    font-family: 'Lexend', sans-serif;
  }

 
  h1, h2{
    font-family: 'Oswald', sans-serif;
  }

  table {
    color: var(--light-pink);
    font-family: 'Lexend', sans-serif;
  }
  td {
    color: var(--light-pink);
  }
 
 
  .h1-play {
 
      margin: 2rem; 
      font-size: 2rem;
      color: rgb(233, 160, 237);
      text-shadow:
      0 0 5px rgb(182, 25, 190),
      0 0 20px rgb(182, 25, 190),
      0 0 80px rgb(182, 25, 190),
      0 0 100px rgb(182, 25, 190),
      0 0 150px rgb(182, 25, 190);
  
  }